.netrwhist
bundle/snipmate.vim
bundle/vim-colors-solarized
bundle/vim-sparkup
bundle/vim-surround
bundle/vim-ragtag
bundle/vim-repeat
bundle/vim-matchit
bundle/zope-snipmate-bundle
bundle/snipmate_for_django
bundle/pyflakes-vim
bundle/tabular/
bundle/vim-puppet/
